.about{
    height: 100vh;
    align-items: center;
}

.nav-link{
    text-align: center;
}

.main{
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.box{
    border-radius: 10px;
    background: #002c3e;
     box-shadow: 1px 2px 8px #0000008f;
}

h2::after{
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #002c3e;
    margin: 10px auto 10px;
}


